@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --background-color:#A1A1A1;
    --text-black:#242424;
    --text-white:#FFFFFF;
    --text-orange:#F69F00;
    --benefit-color:#EDF2F9;
    --light-blue:#E2E8F0;
    --middle-blue:#005FA0;
    --orange:#F69F00;
    --text-gray: #424242;
    --gray-blue: #64748B;
    --color-corp: #133875;
    --color-dirty-gray: #585858;
    --shadow:  5px 4px 27px 0 rgba(0, 95, 160, 0.3);
    --color-opacity-white: rgba(255, 255, 255, 0.3);
    --light-blue: #E9F1FF;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: "Inter";
}

a{
    color: inherit;
    text-decoration: none;
}
.bg-image-banner{
    position: absolute;
    width: 45%;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;

}

.container-fluid{
    padding: 0 clamp(10px, 3vw, 80px);
}
.navbar-collapse-hidden{
    justify-content: end;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon{
    background-image: url('../icons/burger-svg.svg');
}
.navbar-toggler{
    border: none;
}
.side-nav-menu{
    left: 0;
    top: 0;

}
.logo{
    width: clamp(90px, 10vw, 190px);
}
.fs-title{
    font-size: clamp(1.25rem, 0.6875rem + 2.8125vw, 4.0625rem);
}
.fs-title-2{
    font-size: clamp(0.875rem, 0.525rem + 1.75vw, 2.625rem);
}
.fs-section-title{
    font-size: clamp(1.25rem, 0.975rem + 1.375vw, 2.625rem);
}
.fs-paragraph{
    font-size: clamp(0.875rem, 0.75rem + 0.625vw, 1.5rem);
}
.fs-paragraph-2{
    font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
}
.fs-paragraph-3{
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}
.fs-number{
    font-size: clamp(0.75rem, 0.125rem + 3.125vw, 3.875rem);
}
.fs-span{
    font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
}
.w-fit-content{
    width: fit-content;
}
.box-shadow{
    box-shadow: var(--shadow);
}
.btn {
    padding: clamp(10px, 2vw, 25px) clamp(16px, 5vw, 85px) !important;
    color: white;
    background: #133875;
    border-radius: 50px;
    box-shadow: 0px 4px 0px #000056;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
}

.btn:hover {
    color: white;
    background: #133875;
    box-shadow: 0px 4px 0px #000056;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: none;
}

.btn-yellow {
    background: #F69F00;
    box-shadow: 0px 4px 0px #b26b00;;
}

.aside-link{
    transition: all 0.3s ease;
    position: relative;
}
.aside-link:hover{
    font-weight: bold;
}
.aside-link::before{
    content: "—";
    position: absolute;
    left: -45px;
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}
.aside-link:hover::before {
    opacity: 1;
    left: -30px; /* Двигаем тире ближе */
}
.text-balance{
    text-wrap: balance;
}
.text-dirty-grey{
    color: var(--color-dirty-gray);
}
.text-corp{
    color: var(--color-corp);
}
.bg-benefit{
    background: var(--benefit-color);
}
.bg-corp{
    background: var(--color-corp);
}
.bg-opacity-white{
    background: var(--color-opacity-white);
}
.bg-light-blue{
    background: var(--light-blue);
}
.mt-custom{
    margin-top: 250px;
}
.slider-btn-box-1{
    right: 0;
    top: -10%;
}

.slider-btn{
    border: none;
    border-radius: 50%;
    background-color: white !important;
    color: var(--color-corp) !important;
    all: unset; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.slider-btn:hover{
    background-color: var(--color-corp) !important;
    color: white !important;
    border-radius: 50%;
    outline: 1px solid var(--color-corp);
}


.icon-bg-yellow{
    background: var(--orange);
    color: white;
    padding: 7px 9px 5px;
    border-radius: 50%;
}

.slick-dots li button:before{
    font-size: 18px;
}
.slick-dots li.slick-active button:before {
    color: var(--color-corp);
    opacity: 1;
}
.gallery-slider-left{
    top: 50%;
    transform: translateY(-50%);
    left: -3%;
    z-index: 5;
    position: absolute;
}
.gallery-slider-right{
    top: 50%;
    transform: translateY(-50%);
    right: -3%;
    z-index: 5;
    position: absolute;
}
.nav-link{
    transition: all 0.3s ease;
}
.nav-link:hover{
    font-weight: bold;
    color: var(--color-corp);
    text-decoration: underline;
}
.offers-section-box h6{
    font-size: 22px;
}
.offers-section-box p{
    font-size: 16px;
}
.card-tour {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 90%;
    justify-content: center;
    background: rgba(19, 56, 117, 0.7);
    color: white;
    transition: all 0.3s ease;
}
.card-tour:hover{
    background: rgba(255, 153, 0, 0.65);
}
.card {
    box-shadow: none;
    border: none;
}
.photo-box {
    position: absolute;
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    right: 10px;
    top: 10px;
}
.gallery-phtoto-span {
    font-size: 13px;
}
.gallery-link{
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    background: rgba(19, 56, 117, 0.7);
    width: 90%;
}



/* old styles*/
.bg-index {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('../images/indexNew/bg-index.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
} 

.bg-blue {
    background-image: url('../images/indexNew/bg-blue.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 90%;
    height: fit-content;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}


.sidebar {
    /* border-right: 1px solid #e0e0e0; */
    font-family: Arial, sans-serif;
}

.sidebar .logo-section {
    text-align: left;
}

.sidebar .menu ul li {
    margin: 10px 0;
    /* font-size: 28px; */
}

.sidebar .menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 30px!important;
}

.sidebar .menu ul li a.active {
    font-weight: bold;
    color: #0056b3;
    font-size: 30px!important;
}

/* Центральная часть */
.bg-image {
    background: url('../images/indexNew/main-image.jpg') no-repeat center center;
    background-size: cover;
}



.text-white {
    color: var(--text-white);
}
.text-light-black{
    color: var(--text-black);
}

.text-blue {
    color: var(--text-blue)!important;
}

.text-gr-blue{
    color:var(--gray-blue);
}

.text-orange {
    color:var(--text-orange);
}

.text-gray {
    color: var(--text-gray);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.border-gray {
    color: var(--gray-blue);
}

.bg-img {
    background: url('../images/choy.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; /
}


.bg-taj {
    background: url('../images/tajikistan/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}

.bg-taj-mb {
    background: url('../images/tajikistan/bg-taj-mg.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-uzb {
    background: url('../images/UzbekistanNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}

.bg-uzb-mb {
    background: url('../images/UzbekistanNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-kaz {
    background: url('../images/kazakhstanNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}

.bg-kaz-mb {
    background: url('../images/kazakhstanNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-kyr {
    background: url('../images/kyrgyzstanNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}

.bg-kyr-mb {
    background: url('../images/kyrgyzstanNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}



.bg-tur {
    background: url('../images/turkmenistanNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-tur-mb {
    background: url('../images/turkmenistanNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-buh {
    background: url('../images/bukharaNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-buh-mb {
    background: url('../images/bukharaNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-tash {
    background: url('../images/tashkentNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-tash-mb {
    background: url('../images/tashkentNew/back_mn.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.bg-sam {
    background: url('../images/samarkandNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-sam-mb {
    background: url('../images/samarkandNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-khor {
    background: url('../images/xorezmNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-khor-mb {
    background: url('../images/xorezmNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.bg-shax {
    background: url('../images/shaxrisabzNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-shax-mb {
    background: url('../images/shaxrisabzNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-kar {
    background: url('../images/karakalpakstan/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-kar-mb {
    background: url('../images/karakalpakstan/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}


.bg-ter {
    background: url('../images/termezNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-ter-mb {
    background: url('../images/termezNew/back_mg.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.bg-fer {
    background: url('../images/ferganaNew/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
}


.bg-fer-mb {
    background: url('../images/ferganaNew/back_mb.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}



.bg-gray {
 background-color: rgba(255, 255, 255, 0.34);
 
}

.border-gray {
    color:  rgba(255, 255, 255, 0.34);
}

.list-group-item.active {
    z-index: 2;
    color: blue;
    background-color: var(--light-blue);
    border-color: var(--bs-list-group-active-border-color);
}

.list-group-item {
    position: relative;
    /* display: block; */
    /* padding: 20px; */
    color: var(--text-blue) !important;
    text-decoration: none;
    background-color: #fff;
    border: none;
    font-size: 20px;
}

.table {
    border: none!important;
}
.table th, .table td {
    border: none!important;
}

.table {
    background-color: transparent !important;
}


.prv-btn  {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: var(--text-blue); 
    z-index: 10;
}


.nxt-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: var(--text-blue)!important; 
    z-index: 10;
}

.prv:hover, .nxt:hover {
    color: var(--text-blue); 
}



.bi-arrow-left-circle {
    font-size: 2.5rem;
}



.navbar-nav .nav-link.active{
    color: var(--text-blue-solid);
    border-bottom: 1px solid var(--background-color-left);
    font-weight: bold;
}

.breadcrumb > li {
    color: #424242;
}

.breadcrumb > li > a {
    text-decoration: none;
    color: #424242;
}

.btn {
    padding: 13.1px 24.1px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--color-copr);
    border-color: var(--color-copr);
}

.btn-group > ul{
    max-width: 15px;
}

.icon-span {
    display: inline-block;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 40px; 
}

.flaguk{
    width: 40px;
}

.carousel-section {
    position: relative;
}

.carousel-section li:nth-child(4),
.carousel-section li:nth-child(5) {
    color: white;
}

.carousel-section .call{
    color:white;
}

.carousel-section .en{
    color:white;
}

.centralasia-image{
    width: 80%;
    height: 100%;
    position: relative;
    /* z-index: 1; */
}

.centralasia-section .title{
    font-weight: bold;
    color:white;
}

.centralasia-section .btn.btn-primary{
    background-color: var(--orange);
    border-color: var(--orange);
    margin-top: 80px;
    width: 250px;
}

.centralasia-section .bi.bi-arrow-right{
    color:white;
    margin-left: -160px;
}

.centralasia-section .num{
    color:white;
    /* margin-left: 50px; */
}

.carousel-section:after {
    content: "";
    background-image: url(../images/cover-uzb.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%; 
    z-index: -1;
}

.header{
    position: absolute;
    z-index: 1;
}


.centralasia-section {
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}

.centralasia-section::after {
    content: "";
    background-image: url(../images/cover-uzb.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.centralasia-section .container {
    position: relative;
    z-index: 1;
}


.tourism-span{
    width: 55px;
    height: 55px; 
    background-color: var(--orange); 
    padding: 17px;
    color:white;
}

.about-title{
    color:var(--text-orange);
    font-weight: bold;
}

list-inline-item{
    padding-left: 150px;
}

.social-items{
    height: 500px; 
    width: 100px; 
    background-color: var(--background-color-left);
    padding: 10px 0;
    padding-top: 100px;
    margin-right: 50px;
    
}

.social-items .image-icon{
    width: 40px;
}

.uzb{
  position: relative;
  width: 100%;
  height: 500px;
}

.cover-uzb{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    text-align: center;
} 

.uzb-cover h1{
    color:var(--text-white);
    padding: 100px;
    font-size: 2.5em;
    margin-bottom: 20px;
} 

.dropdown-menu {
    min-width: 89px;
}

.xor{
    position: absolute;
    width: 350px;
    height: 70px;
    margin-bottom: 0;
    /* margin: 50px; */
    margin-top: 220px;
    z-index: 1;
}

.center{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    color:var(--text-white);
}

.round-button{
    background-color: #F69F00; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    font-size: 1.2em; 
    cursor: pointer; 
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    margin-left: 50px;
    margin-top: 50px;
}

.btn-primary{
    background-color:var(--text-blue-solid); 
    color: white; 
}

.tours{
    position: absolute;
    display: flex;
    width: 500px;
    height: 10px;
    background-image: url(../images/workers.png);
    color: white;
}

.breadcrumbs{
    background-color: var(--light-blue);
    height: 50px;
    padding:10px;
}

.form-container {
    background-color:var(--light-blue);
    padding: 30px;
    height: 400px;
    margin: 50px auto;
}
.form-container h2 {
    font-weight: bold;
    margin-bottom: 15px;
}
.form-container p {
    margin-bottom: 10px;
}
.form-container .form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}
.btn-submit {
    background-color: #133875;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e6f2ff;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #b3d9ff;
    padding: 10px;
    text-align: left;
}

.table thead {
    background-color: #cce6ff;
}

.note {
    font-style: italic;
    color: #666;
}

.booking-form {
    margin: 0 auto;
    padding: 20px;
    background-color:var(--light-blue);
}

.booking-form h1 {
    color: var(--text-blue-solid);
    text-align: center;
    margin-bottom: 30px;
}
.form-row {
    display: flex;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
    margin-right: 20px;
}
.form-group:last-child {
    margin-right: 0;
}
.booking-form input,
.booking-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
.booking-form textarea {
    height: 100px;
    resize: vertical;
}
.booking-form input[type="date"]::-webkit-calendar-picker-indicator {
    float: right;
    margin-right: 5px;
}
.room-type {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.room-type h3,
.room-type p {
    margin: 0;
}

.map{
    width: 100%;
    position: relative;
    z-index: -1;
}

.contact{
    width: 770px;
    height: 200px;
    position: absolute;
    z-index: 1;
    bottom: -200px;
    right: 209px;
    justify-content: center;
}

.btn-lg{
    background-color:#015FA0; 
    color:white; 
    width: 350px; 
    height: 60px;
}

.items{
    background-color: var(--light-blue); 
    padding: 10px;
    /* width: 1000px; */
}

.items > img{
    width: 40px; 
    height: 70px; 
    margin-right: 10px;
}

/* .bg-corp{
    background-color:var(--background-color-left);
    height: 25vh;
} */

.list-inline > li{
    color:white;
    font-size: 22px;
    /* font-weight: bold; */
    margin-top: 7%;
    padding-left: 17px;
}

.p-letter{
    margin-top: 20%;
    color: white;
}

.bi.bi-telephone-fill{
    color:white;
    
}

.bi.bi-star-fill{
    color: var(--orange);
}

.orient > img{
    width: 200px;
    height:200px;
    margin-top: -40px;
}

.star{
    background-color:var(--light-blue);
    padding: 15px;
    padding-top: 55px;
    height: 300px;
    
}

.star > p{
    color:var(--background-color-left);
}

.hotel-h2{
    color:var(--text-blue-solid);
}

.uzbekistan{
    text-align: center;
    text-transform: uppercase;
    color:var(--text-orange);
    font-weight: bold;
}


.uzblue{
    background-color:var(--light-blue);
    padding:5%;
    border-top-left-radius: 75px;
}

.infoicon-span{ 
    /* display: inline-block; */
    width: 75px;
    height: 75px; 
    background-color: #133875; 
    /* border-radius: 50%; 
    text-align: center; 
    line-height: 40px; */
    padding: 17px;
    
}

.information{
    background-color:var(--light-blue);
    padding:2%;
    margin-top: 25px;
}

.tourtitle{
    text-align: center;
    color:var(--text-orange);
    text-transform: uppercase;
    font-weight: bold;
}

.toursubtitle{
    text-align: center;
    color:var(--text-black);
    /* text-transform: uppercase; */
    font-weight: bold;
}

.card-body-tours{
    padding:25px;
    /* height: 50px; */
}

.card-body-tours > h5{
    font-weight: bold;
    color:var(--text-blue-solid);
}

.icon-spacing{
    padding: 5px;
    color:var(--background-color-left);
    font-weight: bold;
}

.price{
    margin-left: 6px;
    font-weight: 500;
}

.price > span{
    color:var(--text-blue-solid);
}

.bi.bi-arrow-right-circle-fill{
    padding-left: 60%;
    color:#005FA0;
    padding-bottom: 50%;
}

.pagination .page-item .page-link{
    color: gray; 
    border: none;
    background-color: transparent;
}

.pagination .page-item.active .page-link {
    background-color: #0056b3; 
    color: white; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    text-align: center; 
}
@media(max-width: 990px) {
    .bg-image-banner{
       display: none;
    }
    .bg-lg-section{
        background: url('../images/home-page/bg-image.png') no-repeat center/cover;
    }
    .mt-custom{
        margin-top: 30px;
    }
    
}
@media(max-width: 768px){
    .gallery-slider-left, .gallery-slider-right{
        right: unset;
        left: unset;
        transform: unset;
        top: unset;
        position: static;
    }
    .slider-btn-box-2{
        position:absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    
    body{
        overflow-x: hidden;
    }

    .breadcrumb-item {
        color: var(--light-black);
    }

    .bg_mob_index {
        background-image: url(../images/indexNew/bg_mob_index.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        position: relative;
    }

    .bg_prmr_mob {
        background-image: url(../images/indexNew/bg_prmr_mob.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 90%;
        flex-direction: column;
        height: 70%;
        position: absolute;
        top: -58px;
        left: 22px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    
    .card-img-overlay {
        position: absolute;
        width: 100%;
        height: 41%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        margin-left: 0%;
        margin-top: 275px;
        padding: 13px;
    }

    .prev-btn  {
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: #003366; 
        z-index: 10;
    }


    .next-btn {
        position: absolute;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: #003366; 
        z-index: 10;
    }
    
    .prev:hover, .next:hover {
        color: #0056b3; /* Цвет при наведении */
    }
    
    .card-tour{
        width: 100%;
        bottom: 0;
    }
    .offers-section-box h6{
        font-size: 20px;
    }
    .offers-section-box p{
        font-size: 16px;
    }



}
